<!DOCTYPE html>
<html>
  <head>
    <title>Shrine ROM Demo</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="Shrine demo featuring integration with ROM" />

    <script src="https://unpkg.com/babel-polyfill@6.26.0/dist/polyfill.min.js"></script>
    <script src="https://unpkg.com/whatwg-fetch@2.0.3/fetch.js"></script>
    <script src="https://transloadit.edgly.net/releases/uppy/v1.4.0/uppy.min.js"></script>

    <link href="https://unpkg.com/bootstrap@3.3.7/dist/css/bootstrap.min.css" media="screen" rel="stylesheet" />
    <link href="https://transloadit.edgly.net/releases/uppy/v1.4.0/uppy.min.css" rel="stylesheet" />
    <link href="/app.css" />
  </head>

  <body>
    <div class="container">
      <%= yield %>
    </div>

    <script src="/app.js"></script>
  </body>
</html>
